div {
  margin: 20px;
  font-size: 20px;
}
.wrapper {
  background-color: aqua;
  display: inline-block;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 4px;
}
button {
  cursor: pointer;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  background-color: rgba(49, 39, 141, 0.3);
  border-radius: 5px;
}
span {
  padding-left: 10px;
  padding-right: 10px;
}
